<html>
  <title>ujob</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif;
    }
  </style>
  <header>
    <!-- Header Start -->
    <div class="header-area">
      <div class="main-header">
        <div class="header-top d-none d-lg-block">
          <div class="container">
            <div class="col-xl-12">
              <div
                class="row d-flex justify-content-between align-items-center"
              >
                <div class="header-info-left">
                  <ul>
                    <li>
                      <i class="far fa-clock"></i> Mon - SAT: 6.00 am - 10.00 pm
                    </li>
                    <li>Sun: Closed</li>
                  </ul>
                </div>
                <div class="header-info-right">
                  <ul class="header-social">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom header-sticky">
          <div class="container">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-2 col-lg-2">
                <div class="logo">
                  <a href="index.html"
                    ><img src="../../assets/assets/img/logo/logo222.png" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-xl-10 col-lg-10">
                <div
                  class="menu-wrapper d-flex align-items-center justify-content-end"
                >
                  <!-- Main-menu -->
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a routerLink="/home-user">HOME</a></li>
                        <li><a routerLink="/prof-user"> MY PROFILE</a></li>
                        <li><a routerLink="/myprofile-user"> MY RESUME</a></li>
                        <li>
                          <a routerLink="/edit-profile-user">EDIT RESUME</a>
                        </li>
                        <li>
                          <a href="blog.html"></a>
                          <ul class="submenu">
                            <li><a href="blog.html"></a></li>
                            <li>
                              <a href="blog_details.html"></a>
                            </li>
                            <li><a href="elements.html"></a></li>
                          </ul>
                        </li>
                        <li><a href="contact.html"></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>
<div class="container">
<div class="w3-container w3-card w3-white w3-round w3-margin">

  <br />
  <img
    src="https://www.agl-serveis.com/wp-content/uploads/2019/03/20150805204041-google-company-building-corporate.jpeg"
    alt="Avatar"
    class="w3-left w3-circle w3-margin-right"
    style="width: 60px"
  />
  <span class="w3-right w3-opacity">1 min</span>
  <h4>ahmed</h4>
  <br />
  <hr class="w3-clear" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </p>
  <div class="w3-row-padding" style="margin: 0 -16px">
    <div class="w3-half">
      <img
        src="https://fr.davidsuzuki.org/wp-content/uploads/sites/3/2013/05/connecter-nature.jpg"
        style="width: 50%"
        alt="Northern Lights"
        class="w3-margin-bottom"
      />
    </div>
  </div>
  <button
    type="button"
    class="w3-button w3-theme-d1 w3-margin-bottom"
  >
    <i class="fa fa-thumbs-up"></i>  Like
  </button>
  <button
    type="button"
    class="w3-button w3-theme-d2 w3-margin-bottom"
  >
    <i class="fa fa-comment"></i>  Comment
  </button>
</div>
</div>